@model List<Web4.Models.ViewModels.ViewModelResponsable>

@{
    ViewBag.Title = "Movimiento Celular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2 style="text-align: center;">@ViewBag.Title</h2>

<div>

    <p class="text-success">
        @ViewBag.Message

    </p>

</div>

@using (Html.BeginForm("AnadirCelular", "MovimientoCelular", FormMethod.Post))
{
    <div class="row">

        <div class="col-md-6">
            <fieldset>
                <legend>Identificacion</legend>
                <div class="mb-3 row">
                    <label for="Nombre" class="col-sm-2 col-form-label">Recibe</label>


                    <div class="col-sm-10">
                        <select class="form-control" name="Clave_R" id="Clave_R">
                            @{
                                int clave_r = 0;
                                string nombre = "";

                                foreach (var r in Model)
                                {
                                    clave_r = r.Clave_R;
                                    nombre = r.Nombre;
                                    <option value="@clave_r">@nombre</option>
                                }
                            }
                        </select>
                    </div>



                </div>

                <div class="mb-3 row">
                    <label for="Cargo" class="col-sm-2 col-form-label">Cargo</label>

                    <div class="col-sm-10">
                        <input list="carguitos" onkeyup="this.value = this.value.toUpperCase();" class="form-control" id="Cargo" name="Cargo" type="text" />

                        <datalist name="carguitos" id="carguitos">
                            @{
                                string carguillo = "";

                                foreach (var r in Model)
                                {
                                    carguillo = r.CargoView.Trim(' ');
                                    
                                    <option value="@carguillo">@carguillo</option>
                                }

                            }
                        </datalist>
                    </div>

                </div>



                    <div class="mb-3 row">
                        <label for="Fecha" class="col-sm-2 col-form-label">Fecha</label>
                        <div class="col-sm-10">
                            <input onkeyup="this.value = this.value.toUpperCase();" class="form-control" data-val="true" data-val-date="El campo Fecha debe ser una fecha."
                                   data-val-required="El campo Fecha es obligatorio."
                                   id="Fecha" name="Fecha" type="datetime" value="@DateTime.Now" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="TipoFicha" class="col-sm-2 col-form-label">TipoFicha</label>
                        <div class="col-sm-10">
                            <select id="TipoFicha" name="TipoFicha" class="form-control">
                                <option value=1>CELULAR</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="TipoMovimiento" class="col-sm-2 col-form-label">Movimiento</label>
                        <div class="col-sm-10">
                            <select id="TipoMovimiento" name="TipoMovimiento" class="form-control">
                                <option value="ASIGNACIÓN">ASIGNACIÓN</option>
                                <option value="DEVOLUCIÓN">DEVOLUCIÓN</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="ResponsableDelMovimiento" class="col-sm-5 col-form-label">ResponsableDelMovimiento</label>
                        <div class="col-sm-7">
                            <input onkeyup="this.value = this.value.toUpperCase();" class="form-control"
                                   id="ResponsableDelMovimiento" name="ResponsableDelMovimiento" type="text"
                                   value="marcaya" placeholder="marcaya" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Observacion" class="col-sm-5 col-form-label">Observacion</label>
                        <div class="col-sm-7">
                            <textarea onkeyup="this.value = this.value.toUpperCase();" class="form-control"
                                      id="Observacion" name="Observacion" rows="3">Celular</textarea>
                        </div>
                    </div>
</fieldset>
        </div>

        <div class="col-md-6">

            <fieldset>
                <legend>Bien</legend>


                <div class="mb-3 row">
                    <label for="Descripcion" class="col-sm-2 col-form-label">Descripcion</label>
                    <div class="col-sm-10">
                        <input onkeyup="this.value = this.value.toUpperCase();" class="form-control"
                               id="Descripcion" name="Descripcion" type="text" value="TELÉFONO MÓVIL"
                               placeholder="CPU">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="Marca" class="col-sm-2 col-form-label">Marca</label>
                    <div class="col-sm-10">
                        <input onkeyup="this.value = this.value.toUpperCase();" class="form-control"
                               id="Marca" name="Marca" type="text" placeholder="LENOVO"
                               value="REDMI 9">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="Modelo" class="col-sm-2 col-form-label">Modelo</label>
                    <div class="col-sm-10">
                        <input onkeyup="this.value = this.value.toUpperCase();" class="form-control"
                               id="Modelo" name="Modelo" type="text" placeholder="E202"
                               value="iweyr73">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="IMEI" class="col-sm-2 col-form-label">IMEI</label>
                    <div class="col-sm-10">
                        <input onkeyup="this.value = this.value.toUpperCase();" class="form-control"
                               id="IMEI" name="IMEI" type="text" placeholder="3267643829675423976"
                               value="3267643829675423976">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Linea" class="col-sm-2 col-form-label">Linea</label>
                    <div class="col-sm-10">
                        <input onkeyup="this.value = this.value.toUpperCase();" class="form-control"
                               id="Linea" name="Linea" type="text" placeholder="976234871"
                               value="972653536">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Cargador" class="col-sm-2 col-form-label">Cargador</label>
                    <div class="col-sm-10">
                        <select id="Cargador" name="Cargador" class="form-control">
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="CableDatos" class="col-sm-2 col-form-label">CableDatos</label>
                    <div class="col-sm-10">
                        <select id="CableDatos" name="CableDatos" class="form-control">
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Audifono" class="col-sm-2 col-form-label">Audifono</label>
                    <div class="col-sm-10">
                        <select id="Audifono" name="Audifono" class="form-control">
                            <option value="NO">NO</option>
                            <option value="SI">SI</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Estado" class="col-sm-2 col-form-label">Estado</label>
                    <div class="col-sm-10">
                        <select id="Estado" name="Estado" class="form-control">
                            <option value="OPERATIVO">OPERATIVO</option>
                            <option value="INOPERATIVO">INOPERATIVO</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Entregado" class="col-sm-2 col-form-label">Entregado</label>
                    <div class="col-sm-10">
                        <select id="Entregado" name="Entregado" class="form-control">
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                </div>

                <div>
                    <input type="button" value="Anadir"
                           onclick="AnadirMovimiento(); return false;" class="btn btn-info btn-block" />
                </div>

            </fieldset>


        </div>


    </div>


    <br />
    <div class="container">
        <div class="row">


            <h4>
                Detalle
            </h4>

            <div id="divMovimientosCelular">
                <table class="table">
                    <tbody id="tablaMovimientoCelular">

                        <tr>
                            <th>Descripcion</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>IMEI</th>
                            <th>Linea</th>
                            <th>Cargador</th>
                            <th>CableDatos</th>
                            <th>Audifono</th>
                            <th>Estado</th>
                            <th>Entregado</th>
                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="form-group">
                <input type="submit" name="name" value="Registrar" class="btn btn-primary" />
            </div>

        </div>
    </div>

}

@section scripts{
    <script>

        $(function () {
            $("#Clave_R").chosen();
            //$("#Cargo").chosen();
        });
    </script>


}

<script>



    var num = 0;

    function keyEvent(event) {

        var key = event.keyCode || even.which;

        console.log(key)
        if (key == 43) {
            console.log("key dentro funcion " + key);
            AnadirMovimiento();
        }

    }

    function AnadirMovimiento() {
        console.log("hola");

        let Descripcion = document.getElementById("Descripcion").value;
        let Marca = document.getElementById("Marca").value;
        let Modelo = document.getElementById("Modelo").value;
        let IMEI = document.getElementById("IMEI").value;
        let Linea = document.getElementById("Linea").value;
        let Cargador = document.getElementById("Cargador").value;
        let CableDatos = document.getElementById("CableDatos").value;
        let Audifono = document.getElementById("Audifono").value;
        let Estado = document.getElementById("Estado").value;
        let Entregado = document.getElementById("Entregado").value;

        if (Descripcion.length > 0 && Marca.length > 0) {

            //agregar a la tabla movimientos
            // identificar la tabla
            // crear tr
            // crear td
            // innerHTML de td
            // agregar tr a tabla

            let TablaMovimientos = document.getElementById("tablaMovimientoCelular");
            let TR = document.createElement("tr");

            let TDDescripcion = document.createElement("td");
            let TDMarca = document.createElement("td");
            let TDModelo = document.createElement("td");
            let TDIMEI = document.createElement("td");
            let TDLinea = document.createElement("td");
            let TDCargador = document.createElement("td");
            let TDCableDatos = document.createElement("td");
            let TDAudifono = document.createElement("td");
            let TDEstado = document.createElement("td");
            let TDEntregado = document.createElement("td");

            TDDescripcion.innerHTML = Descripcion;
            TDMarca.innerHTML = Marca;
            TDModelo.innerHTML = Modelo;
            TDIMEI.innerHTML = IMEI;
            TDLinea.innerHTML = Linea;
            TDCargador.innerHTML = Cargador;
            TDCableDatos.innerHTML = CableDatos;
            TDAudifono.innerHTML = Audifono;
            TDEstado.innerHTML = Estado;
            TDEntregado.innerHTML = Entregado;

            TR.appendChild(TDDescripcion);
            TR.appendChild(TDMarca);
            TR.appendChild(TDModelo);
            TR.appendChild(TDIMEI);
            TR.appendChild(TDLinea);
            TR.appendChild(TDCargador);
            TR.appendChild(TDCableDatos);
            TR.appendChild(TDAudifono);
            TR.appendChild(TDEstado);
            TR.appendChild(TDEntregado);

            TablaMovimientos.appendChild(TR);


            //agregar hiddens
            let DivMovimientos = document.getElementById("divMovimientosCelular");
            let HiddenIndex = document.createElement("input");
            let HiddenDescripcion = document.createElement("input");
            let HiddenMarca = document.createElement("input");
            let HiddenModelo = document.createElement("input");
            let HiddenIMEI = document.createElement("input");
            let HiddenLinea = document.createElement("input");
            let HiddenCargador = document.createElement("input");
            let HiddenCableDatos = document.createElement("input");
            let HiddenAudifono = document.createElement("input");
            let HiddenEstado = document.createElement("input");
            let HiddenEntregado = document.createElement("input");

            HiddenIndex.type = "hidden";
            HiddenIndex.name = "EquiposCelulares.Index";
            HiddenIndex.value = num;

            HiddenDescripcion.type = "hidden";
            HiddenDescripcion.name = "EquiposCelulares[" + num + "].Descripcion";
            HiddenDescripcion.value = Descripcion;

            HiddenMarca.type = "hidden";
            HiddenMarca.name = "EquiposCelulares[" + num + "].Marca";
            HiddenMarca.value = Marca;

            HiddenModelo.type = "hidden";
            HiddenModelo.name = "EquiposCelulares[" + num + "].Modelo";
            HiddenModelo.value = Modelo;

            HiddenIMEI.type = "hidden";
            HiddenIMEI.name = "EquiposCelulares[" + num + "].IMEI";
            HiddenIMEI.value = IMEI;

            HiddenLinea.type = "hidden";
            HiddenLinea.name = "EquiposCelulares[" + num + "].Linea";
            HiddenLinea.value = Linea;

            HiddenCargador.type = "hidden";
            HiddenCargador.name = "EquiposCelulares[" + num + "].Cargador";
            HiddenCargador.value = Cargador;

            HiddenCableDatos.type = "hidden";
            HiddenCableDatos.name = "EquiposCelulares[" + num + "].CableDatos";
            HiddenCableDatos.value = CableDatos;

            HiddenAudifono.type = "hidden";
            HiddenAudifono.name = "EquiposCelulares[" + num + "].Audifono";
            HiddenAudifono.value = Audifono;

            HiddenEstado.type = "hidden";
            HiddenEstado.name = "EquiposCelulares[" + num + "].Estado";
            HiddenEstado.value = Estado;

            HiddenEntregado.type = "hidden";
            HiddenEntregado.name = "EquiposCelulares[" + num + "].Entregado";
            HiddenEntregado.value = Entregado;

            DivMovimientos.appendChild(HiddenIndex);
            DivMovimientos.appendChild(HiddenDescripcion);
            DivMovimientos.appendChild(HiddenMarca);
            DivMovimientos.appendChild(HiddenModelo);
            DivMovimientos.appendChild(HiddenIMEI);
            DivMovimientos.appendChild(HiddenLinea);
            DivMovimientos.appendChild(HiddenCargador);
            DivMovimientos.appendChild(HiddenCableDatos);
            DivMovimientos.appendChild(HiddenAudifono);
            DivMovimientos.appendChild(HiddenEstado);
            DivMovimientos.appendChild(HiddenEntregado);

            document.getElementById("Descripcion").value = "";
            document.getElementById("Marca").value = "";
            //document.getElementById("Modelo").value = "";
            //document.getElementById("Serie").value = "";
            //document.getElementById("Linea").value = "";
            //document.getElementById("CableDatos").value = "";
            //document.getElementById("NombrePC").value = "";
            //document.getElementById("Devuelto").value = "";

            num++;
        }

    }


</script>









