@model Web4.Models.ViewModels.MovimientoViewModel

@{
    ViewBag.Title = "FICHA DE ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h2>@ViewBag.Title @Model.TipoMovimiento</h2> 

<form>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Recibe</label>
        <div class="col-sm-10">

            @Html.DisplayName(Model.Nombre)
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Cargo</label>
        <div class="col-sm-10">
            @Html.DisplayName(Model.Cargo)
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Origen</label>
        <div class="col-sm-10">
            @Html.DisplayName(Model.Origen)
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Destino</label>
        <div class="col-sm-10">
            @Html.DisplayName(Model.Destino)
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Responsable del movimiento</label>
        <div class="col-sm-10">
            @Html.DisplayName(Model.ResponsableDelMovimiento)
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Fecha</label>
        <div class="col-sm-10">
            @Model.Fecha
        </div>
    </div>
</form>
 



<br />
<br />
<h4>FICHA DE @Model.TipoMovimiento</h4>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Descripcion</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Serie</th>
            <td>Estado</td>
            <td>UsuarioPC</td>
            <td>NombrePC</td>
            <td>Entregado</td>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var oItem in Model.Equipos)
            {
                <tr>
                    <td>@i</td>
                    <td>@oItem.Descripcion</td>
                    <td>@oItem.Marca</td>
                    <td>@oItem.Modelo</td>
                    <td>@oItem.Serie</td>
                    <td>@oItem.Estado</td>
                    <td>@oItem.UsuarioPC</td>
                    <td>@oItem.NombrePC</td>
                    <td>@oItem.Entregado</td>
                    <td>
                        <!--

                        <a class="btn btn-info" href="~/Responsable/Ficha/oItem.Clave_F">Ficha</a>

                        -->

                    </td>
                </tr>
                i = i + 1;
            }
        }


    </tbody>

</table>
