@model Web4.Models.ViewModels.TablaMovimientoViewModels

@{
    ViewBag.Title = "Movimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2>@ViewBag.Title</h2>

<h4>Responsable</h4>
<form>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            
            @Html.DisplayName(Model.Nombre)
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-10">
            @Html.DisplayName(Model.Cargo)
        </div>
    </div>
</form>


<br />
<br />
<h4>Fichas</h4>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>TipoMovimiento</th>
            <th>ResponsableDelMovimiento</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            int i = 1;
            foreach (var oItem in Model.ListaFichas)
            {
                <tr>
                    <td>@i</td>
                    <td>@oItem.Fecha</td>
                    <td>@oItem.Origen</td>
                    <td>@oItem.Destino</td>
                    <td>@oItem.TipoMovimiento</td>
                    <td>@oItem.ResponsableDelMovimiento</td>
                    <td>
                        <!--

        <a class="btn btn-info" href="~/Responsable/Ficha/oItem.Clave_F">Ficha</a>

        -->
                        <a class="btn btn-primary" href="~/Responsable/Ficha?id_R=@Model.Clave_R&id_F=@oItem.Clave_F">Ficha</a>
                        <a class="btn btn-success" href="~/Responsable/Imprimir?id_R=@Model.Clave_R&id_F=@oItem.Clave_F">Imprimir</a>

                    </td>
                </tr>

                i += 1;

            }
        }

    </tbody>

</table>